<div class="marketing-site-hero">
  <div class="marketing-site-hero-content">
    <h1>Open Source Library Management</h1>
    <p class="subheader">Open LMS is a Open Source Library Management Software suitable for small or medium scale university or private libraries</p>
    <a href="#" class="round button">learn more</a>
  </div>
</div>


